/tests/                 export-ignore
/bench/                 export-ignore
/docs/                  export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/.php-cs-fixer.php      export-ignore
/castor.php             export-ignore
/castor.composer.json   export-ignore
/castor.composer.lock   export-ignore
/mkdocs.yaml            export-ignore
/phpstan.neon           export-ignore
/phpunit.xml            export-ignore
/pyproject.toml         export-ignore
/poetry.lock            export-ignore
/bootstrap.php          export-ignore
/.github/           export-ignore
