vendor/
/composer.lock
.php-cs-fixer.cache
.phpunit.result.cache
tests/cache/
tests/Bundle/Resources/var
tests/Bundle/Resources/config/reference.php
tools/phpstan/cache/
cache/
site/
.build/
.castor*
tests/Doctrine/db.sqlite