[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
markdown-callouts = "*"
mkdocs-literate-nav = "*"

[dev-packages]

[requires]
python_version = "3.11"
