parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:addCallback\\(\\)\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Call to an undefined method object\\:\\:injectMappers\\(\\)\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Cannot access offset string on AutoMapper\\\\MapperGeneratorMetadataInterface\\.$#"
			count: 2
			path: ../../src/AutoMapper.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Loader\\\\AnnotationLoader not found\\.$#"
			count: 2
			path: ../../src/AutoMapper.php

		-
			message: "#^Method AutoMapper\\\\AutoMapper\\:\\:getMapper\\(\\) should return AutoMapper\\\\MapperInterface but returns object\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Method AutoMapper\\\\AutoMapper\\:\\:map\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Method AutoMapper\\\\AutoMapper\\:\\:map\\(\\) has parameter \\$source with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Method AutoMapper\\\\AutoMapper\\:\\:map\\(\\) has parameter \\$target with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Method AutoMapper\\\\AutoMapper\\:\\:map\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Method AutoMapper\\\\AutoMapper\\:\\:map\\(\\) should return array\\|object\\|null but returns mixed\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Parameter \\#1 \\$loader of class Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Factory\\\\ClassMetadataFactory constructor expects Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Loader\\\\LoaderInterface, Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Loader\\\\AnnotationLoader\\|Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Loader\\\\AttributeLoader given\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Parameter \\#3 \\$descriptionExtractors of class Symfony\\\\Component\\\\PropertyInfo\\\\PropertyInfoExtractor constructor expects iterable\\<Symfony\\\\Component\\\\PropertyInfo\\\\PropertyDescriptionExtractorInterface\\>, array\\<int, Symfony\\\\Component\\\\PropertyInfo\\\\Extractor\\\\ReflectionExtractor\\> given\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Property AutoMapper\\\\AutoMapper\\:\\:\\$mapperRegistry \\(array\\<AutoMapper\\\\GeneratedMapper\\>\\) does not accept array\\<object\\>\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapperInterface.php

		-
			message: "#^Method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) has parameter \\$source with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapperInterface.php

		-
			message: "#^Method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) has parameter \\$target with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapperInterface.php

		-
			message: "#^Method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapperInterface.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\FromSourceMappingExtractor\\:\\:getWriteMutator\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/FromSourceMappingExtractor.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Extractor/FromSourceMappingExtractor.php

		-
			message: "#^Parameter \\#1 \\$readAccessor of class AutoMapper\\\\Extractor\\\\PropertyMapping constructor expects AutoMapper\\\\Extractor\\\\ReadAccessor, AutoMapper\\\\Extractor\\\\ReadAccessor\\|null given\\.$#"
			count: 1
			path: ../../src/Extractor/FromSourceMappingExtractor.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Extractor/FromTargetMappingExtractor.php

		-
			message: "#^Parameter \\#1 \\$readAccessor of class AutoMapper\\\\Extractor\\\\PropertyMapping constructor expects AutoMapper\\\\Extractor\\\\ReadAccessor, AutoMapper\\\\Extractor\\\\ReadAccessor\\|null given\\.$#"
			count: 1
			path: ../../src/Extractor/FromTargetMappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MapToContextPropertyInfoExtractorDecorator\\:\\:getProperties\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MapToContextPropertyInfoExtractorDecorator\\:\\:getReadInfo\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MapToContextPropertyInfoExtractorDecorator\\:\\:getTypes\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MapToContextPropertyInfoExtractorDecorator\\:\\:getWriteInfo\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MapToContextPropertyInfoExtractorDecorator\\:\\:isInitializable\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MapToContextPropertyInfoExtractorDecorator\\:\\:isReadable\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MapToContextPropertyInfoExtractorDecorator\\:\\:isWritable\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MapToContextPropertyInfoExtractorDecorator\\:\\:isWritable\\(\\) should return bool but returns bool\\|null\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: ../../src/Extractor/MapToContextPropertyInfoExtractorDecorator.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractor\\:\\:getGroups\\(\\) has parameter \\$class with no type specified\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractor\\:\\:getGroups\\(\\) has parameter \\$property with no type specified\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractor\\:\\:getGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractor\\:\\:getMaxDepth\\(\\) has parameter \\$class with no type specified\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractor\\:\\:getMaxDepth\\(\\) has parameter \\$property with no type specified\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractor\\:\\:getWriteMutator\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractor\\:\\:isIgnoredProperty\\(\\) has parameter \\$class with no type specified\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractor\\:\\:isIgnoredProperty\\(\\) has parameter \\$property with no type specified\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractor.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\MappingExtractorInterface\\:\\:getWriteMutator\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/MappingExtractorInterface.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\PropertyMapping\\:\\:__construct\\(\\) has parameter \\$sourceGroups with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/PropertyMapping.php

		-
			message: "#^Method AutoMapper\\\\Extractor\\\\PropertyMapping\\:\\:__construct\\(\\) has parameter \\$targetGroups with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Extractor/PropertyMapping.php

		-
			message: "#^Parameter \\#1 \\$class of function class_exists expects string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Extractor/ReadAccessor.php

		-
			message: "#^Cannot access property \\$type on AutoMapper\\\\Extractor\\\\WriteMutator\\|null\\.$#"
			count: 1
			path: ../../src/Extractor/SourceTargetMappingExtractor.php

		-
			message: "#^Parameter \\#1 \\$readAccessor of class AutoMapper\\\\Extractor\\\\PropertyMapping constructor expects AutoMapper\\\\Extractor\\\\ReadAccessor, AutoMapper\\\\Extractor\\\\ReadAccessor\\|null given\\.$#"
			count: 1
			path: ../../src/Extractor/SourceTargetMappingExtractor.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$cachedTarget has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$callbacks has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$circularReferenceHandler has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$circularReferenceLimit has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$extractCallbacks has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$hydrateCallbacks has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$mappers has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Method AutoMapper\\\\Generator\\\\Generator\\:\\:getCreateObjectStatements\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Generator/Generator.php

		-
			message: "#^Method AutoMapper\\\\Generator\\\\Generator\\:\\:getValueAsExpr\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../src/Generator/Generator.php

		-
			message: "#^Method AutoMapper\\\\Generator\\\\Generator\\:\\:getValueAsExpr\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../../src/Generator/Generator.php

		-
			message: "#^Offset 0 does not exist on array\\<PhpParser\\\\Node\\\\Stmt\\>\\|null\\.$#"
			count: 1
			path: ../../src/Generator/Generator.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: ../../src/Generator/Generator.php

		-
			message: "#^Parameter \\#3 \\$args of class PhpParser\\\\Node\\\\Expr\\\\MethodCall constructor expects array\\<PhpParser\\\\Node\\\\Arg\\|PhpParser\\\\Node\\\\VariadicPlaceholder\\>, array\\<int, PhpParser\\\\Node\\\\Arg\\|PhpParser\\\\Node\\\\Expr\\\\Variable\\> given\\.$#"
			count: 1
			path: ../../src/Generator/Generator.php

		-
			message: "#^Method AutoMapper\\\\Loader\\\\FileLoader\\:\\:addHashToRegistry\\(\\) has parameter \\$className with no type specified\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Method AutoMapper\\\\Loader\\\\FileLoader\\:\\:addHashToRegistry\\(\\) has parameter \\$hash with no type specified\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Method AutoMapper\\\\Loader\\\\FileLoader\\:\\:getRegistry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Parameter \\#1 \\$stream of function flock expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Property AutoMapper\\\\Loader\\\\FileLoader\\:\\:\\$registry type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:getConstructorArgument\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:getConstructorArgument\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:handleCircularReference\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:handleCircularReference\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:handleCircularReference\\(\\) has parameter \\$object with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:hasConstructorArgument\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:isAllowedAttribute\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:isAllowedAttribute\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setAllowedAttributes\\(\\) has parameter \\$allowedAttributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setConstructorArgument\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setGroups\\(\\) has parameter \\$groups with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setIgnoredAttributes\\(\\) has parameter \\$ignoredAttributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setTargetToPopulate\\(\\) has parameter \\$target with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:shouldHandleCircularReference\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withIncrementedDepth\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withIncrementedDepth\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withNewContext\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withNewContext\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withReference\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withReference\\(\\) has parameter \\$object with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withReference\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Property AutoMapper\\\\MapperContext\\:\\:\\$context type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: ../../src/MapperGeneratorMetadataFactory.php

		-
			message: "#^Method AutoMapper\\\\MapperInterface\\:\\:map\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperInterface.php

		-
			message: "#^Method AutoMapper\\\\MapperMetadata\\:\\:checkCircularMapperConfiguration\\(\\) has parameter \\$checked with no type specified\\.$#"
			count: 1
			path: ../../src/MapperMetadata.php

		-
			message: "#^Method AutoMapper\\\\MapperMetadata\\:\\:getCachedTargetReflectionClass\\(\\) return type with generic class ReflectionClass does not specify its types\\: T$#"
			count: 1
			path: ../../src/MapperMetadata.php

		-
			message: "#^Method AutoMapper\\\\MapperMetadata\\:\\:getPropertiesMapping\\(\\) should return array\\<AutoMapper\\\\Extractor\\\\PropertyMapping\\> but returns array\\<AutoMapper\\\\Extractor\\\\PropertyMapping\\>\\|null\\.$#"
			count: 1
			path: ../../src/MapperMetadata.php

		-
			message: "#^Parameter \\#1 \\$filename of function filemtime expects string, string\\|false given\\.$#"
			count: 2
			path: ../../src/MapperMetadata.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: ../../src/MapperMetadata.php

		-
			message: "#^Property AutoMapper\\\\MapperMetadata\\:\\:\\$targetReflectionClass with generic class ReflectionClass does not specify its types\\: T$#"
			count: 1
			path: ../../src/MapperMetadata.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:createAutoMapperContext\\(\\) has parameter \\$serializerContext with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:createAutoMapperContext\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:denormalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:normalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:normalize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:normalize\\(\\) return type with generic class ArrayObject does not specify its types\\: TKey, TValue$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:normalize\\(\\) should return array\\|ArrayObject\\|bool\\|float\\|int\\|string\\|null but returns array\\|object\\|null\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:supportsDenormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:supportsNormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Parameter \\#1 \\$source of method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) expects array\\|object, mixed given\\.$#"
			count: 2
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Parameter \\#2 \\$target of method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) expects 'array'\\|array\\|class\\-string\\|object, string given\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Parameter \\#1 \\$expr of class PhpParser\\\\Node\\\\Stmt\\\\Expression constructor expects PhpParser\\\\Node\\\\Expr, PhpParser\\\\Node\\\\Expr\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/AbstractArrayTransformer.php

		-
			message: "#^Parameter \\#1 \\$output of method AutoMapper\\\\Extractor\\\\WriteMutator\\:\\:getExpression\\(\\) expects PhpParser\\\\Node\\\\Expr\\\\Variable, PhpParser\\\\Node\\\\Expr given\\.$#"
			count: 1
			path: ../../src/Transformer/AbstractArrayTransformer.php

		-
			message: "#^Parameter \\#1 \\$source of method AutoMapper\\\\Transformer\\\\CustomTransformer\\\\CustomPropertyTransformerInterface\\:\\:supports\\(\\) expects 'array'\\|class\\-string, string given\\.$#"
			count: 1
			path: ../../src/Transformer/CustomTransformer/CustomTransformersRegistry.php

		-
			message: "#^Parameter \\#2 \\$target of method AutoMapper\\\\Transformer\\\\CustomTransformer\\\\CustomPropertyTransformerInterface\\:\\:supports\\(\\) expects 'array'\\|class\\-string, string given\\.$#"
			count: 1
			path: ../../src/Transformer/CustomTransformer/CustomTransformersRegistry.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 2
			path: ../../src/Transformer/DateTimeTransformerFactory.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/EnumTransformerFactory.php

		-
			message: "#^Parameter \\#1 \\$targetClassName of class AutoMapper\\\\Transformer\\\\TargetEnumTransformer constructor expects string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/EnumTransformerFactory.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/ObjectTransformerFactory.php

		-
			message: "#^Parameter \\#1 \\$className of class AutoMapper\\\\Transformer\\\\StringToSymfonyUidTransformer constructor expects string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/SymfonyUidTransformerFactory.php
