includes:
	- phpstan-baseline.neon

parameters:
	level: max
	paths:
		- ../../src/

	tmpDir: cache

	ignoreErrors:
	    - "#Instantiated class fromIteratorToArray not found#"
	    - "#Instantiated class toArray not found#"
