parameters:
	ignoreErrors:
		-
			message: "#^Method AutoMapper\\\\AutoMapper\\:\\:map\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Parameter \\#1 \\$loader of class Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Factory\\\\ClassMetadataFactory constructor expects Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Loader\\\\LoaderInterface, Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Loader\\\\AnnotationLoader\\|Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Loader\\\\AttributeLoader given\\.$#"
			count: 1
			path: ../../src/AutoMapper.php

		-
			message: "#^Method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapperInterface.php

		-
			message: "#^Method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) has parameter \\$source with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapperInterface.php

		-
			message: "#^Method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) has parameter \\$target with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapperInterface.php

		-
			message: "#^Method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/AutoMapperInterface.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$cachedTarget has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$callbacks has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$circularReferenceHandler has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$circularReferenceLimit has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$extractCallbacks has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$hydrateCallbacks has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Property AutoMapper\\\\GeneratedMapper\\:\\:\\$mappers has no type specified\\.$#"
			count: 1
			path: ../../src/GeneratedMapper.php

		-
			message: "#^Parameter \\#2 \\$args of class PhpParser\\\\Node\\\\Expr\\\\New_ constructor expects array\\<PhpParser\\\\Node\\\\Arg\\|PhpParser\\\\Node\\\\VariadicPlaceholder\\>, array\\<int\\|string, PhpParser\\\\Node\\\\Arg\\|null\\> given\\.$#"
			count: 1
			path: ../../src/Generator/CreateTargetStatementsGenerator.php

		-
			message: "#^Parameter \\#2 \\$constructArguments of method AutoMapper\\\\Generator\\\\CreateTargetStatementsGenerator\\:\\:constructorArgumentWithDefaultValue\\(\\) expects array\\<PhpParser\\\\Node\\\\Arg\\>, array\\<int\\|string, PhpParser\\\\Node\\\\Arg\\|null\\> given\\.$#"
			count: 1
			path: ../../src/Generator/CreateTargetStatementsGenerator.php

		-
			message: "#^Method AutoMapper\\\\Loader\\\\FileLoader\\:\\:addHashToRegistry\\(\\) has parameter \\$className with no type specified\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Method AutoMapper\\\\Loader\\\\FileLoader\\:\\:addHashToRegistry\\(\\) has parameter \\$hash with no type specified\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Method AutoMapper\\\\Loader\\\\FileLoader\\:\\:getRegistry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Parameter \\#1 \\$stream of function flock expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Property AutoMapper\\\\Loader\\\\FileLoader\\:\\:\\$registry type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Loader/FileLoader.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:getConstructorArgument\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:getConstructorArgument\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:handleCircularReference\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:handleCircularReference\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:handleCircularReference\\(\\) has parameter \\$object with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:hasConstructorArgument\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:isAllowedAttribute\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setAllowedAttributes\\(\\) has parameter \\$allowedAttributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setConstructorArgument\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setGroups\\(\\) has parameter \\$groups with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setIgnoredAttributes\\(\\) has parameter \\$ignoredAttributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:setTargetToPopulate\\(\\) has parameter \\$target with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:shouldHandleCircularReference\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withIncrementedDepth\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withIncrementedDepth\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withNewContext\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withNewContext\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withReference\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withReference\\(\\) has parameter \\$object with no type specified\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\MapperContext\\:\\:withReference\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Property AutoMapper\\\\MapperContext\\:\\:\\$context type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/MapperContext.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:createAutoMapperContext\\(\\) has parameter \\$serializerContext with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:createAutoMapperContext\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:denormalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:normalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:normalize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:normalize\\(\\) return type with generic class ArrayObject does not specify its types\\: TKey, TValue$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:normalize\\(\\) should return array\\|ArrayObject\\|bool\\|float\\|int\\|string\\|null but returns array\\|object\\|null\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:supportsDenormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Method AutoMapper\\\\Normalizer\\\\AutoMapperNormalizer\\:\\:supportsNormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Parameter \\#1 \\$source of method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) expects array\\|object, mixed given\\.$#"
			count: 2
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Parameter \\#2 \\$target of method AutoMapper\\\\AutoMapperInterface\\:\\:map\\(\\) expects 'array'\\|array\\|class\\-string\\|object, string given\\.$#"
			count: 1
			path: ../../src/Normalizer/AutoMapperNormalizer.php

		-
			message: "#^Parameter \\#1 \\$expr of class PhpParser\\\\Node\\\\Stmt\\\\Expression constructor expects PhpParser\\\\Node\\\\Expr, PhpParser\\\\Node\\\\Expr\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/AbstractArrayTransformer.php

		-
			message: "#^Parameter \\#1 \\$output of method AutoMapper\\\\Extractor\\\\WriteMutator\\:\\:getExpression\\(\\) expects PhpParser\\\\Node\\\\Expr\\\\Variable, PhpParser\\\\Node\\\\Expr given\\.$#"
			count: 1
			path: ../../src/Transformer/AbstractArrayTransformer.php

		-
			message: "#^Parameter \\#1 \\$items of class PhpParser\\\\Node\\\\Expr\\\\Array_ constructor expects array\\<PhpParser\\\\Node\\\\ArrayItem\\>, array\\<int, PhpParser\\\\Node\\\\ArrayItem\\|PhpParser\\\\Node\\\\Expr\\\\ArrayItem\\> given\\.$#"
			count: 1
			path: ../../src/Transformer/BuiltinTransformer.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 2
			path: ../../src/Transformer/DateTimeTransformerFactory.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/EnumTransformerFactory.php

		-
			message: "#^Parameter \\#1 \\$targetClassName of class AutoMapper\\\\Transformer\\\\TargetEnumTransformer constructor expects string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/EnumTransformerFactory.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/ObjectTransformerFactory.php

		-
			message: "#^Parameter \\#1 \\$className of class AutoMapper\\\\Transformer\\\\StringToSymfonyUidTransformer constructor expects string, string\\|null given\\.$#"
			count: 1
			path: ../../src/Transformer/SymfonyUidTransformerFactory.php
