parameters:
	level: max
	paths:
		- ../../src/

	tmpDir: cache
	scanFiles:
		- stubs/mongodb.php

	ignoreErrors:
		- "#Instantiated class fromIteratorToArray not found#"
		- "#Instantiated class toArray not found#"
